basePath: /api/v1
definitions:
  handlers.Error:
    properties:
      error:
        type: string
    type: object
  meal.mealGetResponse:
    properties:
      meals:
        items:
          $ref: '#/definitions/models.Meal'
        type: array
    type: object
  models.Meal:
    properties:
      created_at:
        type: string
      id:
        type: integer
      meal_entries:
        items:
          $ref: '#/definitions/models.MealEntry'
        type: array
      name:
        type: string
      timestamp:
        type: string
    required:
    - name
    - timestamp
    type: object
  models.MealEntry:
    properties:
      alcohol:
        type: number
      beta_carotene:
        type: number
      calcium:
        description: Minerals
        type: number
      carbohydrates:
        description: 'Macros: Carbohydrates & Sugars'
        type: number
      carbohydrates_unit:
        type: string
      cholesterol:
        type: number
      copper:
        type: number
      created_at:
        type: string
      energy_kcal:
        description: Energy
        type: number
      energy_kcal_unit:
        type: string
      energy_kj:
        type: number
      energy_kj_unit:
        type: string
      fat:
        description: 'Macros: Fats'
        type: number
      fat_unit:
        type: string
      fiber:
        type: number
      fructose:
        type: number
      fruits_veg_legumes_est:
        type: number
      fruits_veg_nuts_est:
        type: number
      galactose:
        type: number
      glucose:
        type: number
      iodine:
        type: number
      iron:
        type: number
      lactose:
        type: number
      magnesium:
        type: number
      maltose:
        type: number
      manganese:
        type: number
      monounsaturated_fat:
        type: number
      monounsaturated_fat_unit:
        type: string
      name:
        type: string
      nova_group:
        description: Scores & Estimates
        type: integer
      nutrition_score_fr:
        type: integer
      pantothenic_acid:
        type: number
      phosphorus:
        type: number
      phylloquinone:
        type: number
      polyols:
        type: number
      polyunsaturated_fat:
        type: number
      polyunsaturated_fat_unit:
        type: string
      potassium:
        type: number
      proteins:
        description: 'Macros: Proteins & Others'
        type: number
      proteins_unit:
        type: string
      quantity:
        type: number
      quantity_unit:
        type: string
      salt:
        description: Salt & Sodium
        type: number
      salt_unit:
        type: string
      saturated_fat:
        type: number
      saturated_fat_unit:
        type: string
      selenium:
        type: number
      sodium:
        type: number
      sodium_unit:
        type: string
      starch:
        type: number
      sucrose:
        type: number
      sugars:
        type: number
      trans_fat:
        type: number
      trans_fat_unit:
        type: string
      vitamin_a:
        description: Vitamins
        type: number
      vitamin_b1:
        type: number
      vitamin_b2:
        type: number
      vitamin_b6:
        type: number
      vitamin_b9:
        type: number
      vitamin_b12:
        type: number
      vitamin_c:
        type: number
      vitamin_d:
        type: number
      vitamin_e:
        type: number
      vitamin_pp:
        type: number
      water:
        type: number
      zinc:
        type: number
    required:
    - name
    - quantity
    - quantity_unit
    type: object
info:
  contact: {}
  description: This is the API for the Meal Service.
  title: Meal Service API
  version: "1.0"
paths:
  /meal:
    post:
      consumes:
      - application/json
      description: Create a new meal
      parameters:
      - description: Meal Data
        in: body
        name: meal
        required: true
        schema:
          $ref: '#/definitions/models.Meal'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties:
              type: integer
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/handlers.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.Error'
      security:
      - BearerAuth: []
      summary: Create a meal
      tags:
      - meals
  /meal/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a meal by ID
      parameters:
      - description: Meal ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/handlers.Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handlers.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.Error'
      security:
      - BearerAuth: []
      summary: Delete a meal
      tags:
      - meals
    get:
      consumes:
      - application/json
      description: Get a meal by ID
      parameters:
      - description: Meal ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Meal'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/handlers.Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handlers.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.Error'
      security:
      - BearerAuth: []
      summary: Get a meal
      tags:
      - meals
  /meals:
    get:
      consumes:
      - application/json
      description: Get meals for a user filtered by date range
      parameters:
      - description: Get meals not after this date (YYYY-MM-DD)
        in: query
        name: date_not_after
        type: string
      - description: Get meals not before this date (YYYY-MM-DD)
        in: query
        name: date_not_before
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/meal.mealGetResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handlers.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handlers.Error'
      security:
      - ApiKeyAuth: []
      summary: Get meals by date
      tags:
      - meals
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
